{% extends "base.html" %}

{% load static %}

{% block head %}

<link rel="stylesheet" href="{% static "utility.css"%}">
<link rel="stylesheet" href="{% static "CSS/energy.css"%}"> 
<title>Force Module | Forces</title>

{% endblock %}

{% block body %}

            <!-- Navbar -->
            <div id="navbar" class="navbar-container">
                <div class="navbar-logo">
                    <img id="logo" height="48" width="48" alt="" src="{% static "navbarico.svg" %}"></img>
                    Energy Module
                 </div>
                <div class="tabs">
                    <nav>
                      <ul>
                          <li><a id="Login" class="inactive" href="#">Login</a></li>
                          <li><a id="Warm-Up" class="inactive" href="#">Warm-Up</a></li>
                          <li><a id="Instruction" class="active" href="#">Instruction</a></li>
                          <li><a id="Final" class="inactive" href="#">Final</a></li>        
                      </ul>
                    </nav>
                </div>
                <!-- <div class="reporting">
                  <div class="statement">
                    <h4>I am feeling</h4>
                  </div>
                  <div id="mental-state-buttons">
                    <button id="distracted-button" class="btn alternate1">Distracted</button>
                    <button id="focused-button" class="btn primary">Focused</button>
                  </div>
                </div> -->
              </div>


<!-- Calibration -->
<!-- <div id="start" style="width:100%; height:87vh; background-color: #f5f5f5;">
  <h2 id="STRTstatement">Click Start to begin</h2>
  <button id="start-btn" class="btn primary reduced-vis">START</button>
</div> -->

<!-- Mind Wandering
<div id="wander" style="width:100%; height:93vh; background-color: #f5f5f5;display: none;">
  <div id="zoned">
    <h2>Were you zoned out? Please press 'y' on the keyboard for yes, or 'n' on the keyboard for no</h2>
    <audio id="tone">
      <source src="https://dl.dropbox.com/s/9i2wallfhiqui8s/beep-06.wav?dl=1"/>
    </audio>
  </div>
</div> -->

<!-- Instructions  -->
<!-- <div id="csi" class="content-stage" style="display: none;">
  <div class="hdr">
    <h2>Forces Frame 0</h2>
  </div>
  <div class="ctr">
    <h3>In this section you will watch two short videos about solving energy problems. We will develop a four step procedure to help us solve energy problems</h3>
  </div>
  <div></div>
  <div class="ftr">
    <btn id="btn0" class="btn primary reduced-vis">Next</btn>
  </div>
</div>

<input type="hidden" id="userId" value={{context.user}}> -->

<!-- Forms -->
<!-- <form id="audio-events" style="display:none">
  {{context.log}}
  {%csrf_token%}
</form>

<form id="audio-events2" style="display:none">
  {{context.log2}}
  {%csrf_token%}
</form>

<form id="mouse-events" style="display: none">
  {{context.mouse}}
  {%csrf_token%}
</form>
<form id="mouse-events2" style="display: none">
  {{context.mouse}}
  {%csrf_token%}
</form> -->
<!-- End Forms -->

    <!-- Content Stage 1 -->
<div class="content-stage" id="cs1" >
    <div class="hdr">
        <h2 id="energy-header">
            The Sledding Problem
        </h2>
    </div>
    <div class="ctr">
      <!-- The problem statement -->
      <h3 id="problem-text"> Anna’s favorite winter activity is sledding. 
        This year, she will compete in a sledding tournament. Anna wants to 
        how fast she is going at the bottom of the hill. Anna and the sled 
        has mass \(\mathbf{m}\), the height of the hill is \(\mathbf{h_0}\), 
        friction between the sled and the snow causes energy loss \(\mathbf{W}\),
         and \(\mathbf{g}\) is the gravitational constant. What is Anna's speed
          \(\color{red} \mathbf{V_f}\) at the bottom of the hill? </h3>
      <img id="genprob_hill" src="{% static "IMG/energy/genprob_the_hill.svg"%}"/>
      <img id="genprob_sled" src="{% static "IMG/energy/genprob_the_sled.svg"%}"/>


      <!-- The steps -->
      <h3 id="step-1"><span style="font-size:2vw"><strong>Step 1:</strong></span> What are types 
        of energy and their formulae that are involved in this problem?</h3>
      <h3 id="step-2"><span style="font-size:2vw"><strong>Step 2:</strong></span> Apply conservation of energy! </h3>
      <h3 id="step-3"><span style="font-size:2vw"><strong>Step 3:</strong></span> Plug in formulae</h3>  
      <h3 id="step-4"><span style="font-size:2vw"><strong>Step 4:</strong></span> Use algebra</h3>

      <!-- The explanation   -->
      <h3 id="top"> 1. Potential energy \(\mathbf{=mgh_0}\)</h3>
      <h3 id="process"> 1. Potention energy \(\mathbf{=mgh}\)<br> 2. Kinetic energy \(\mathbf{=\frac{1}{2}mv^2}\) <br> 
        3. Energy loss due to friction \(\mathbf{=W}\)</h3>
      <h3 id="bottom">1. Kinetic energy \(\mathbf{\frac{1}{2}mV_{f}^{2}}\)</h3>
      <ul id="notes">
        <li> If the problem is frictionless (\(\mathbf{W=0}\)), then from the highlighted equation above, 
          <span style="background-color: rgb(255, 255, 105)">\(\mathbf{V_f = \sqrt{2gh_0}}\)</span></li>
        <li> <strong>Pro:</strong> The energy concept solves the block-on-the-ramp problem better than Newton's \(2^{nd}\) law.</li>
        <li> <strong>Con:</strong> You cannot use the energy concept to answer a time-related question.</li>
      </ul>
    

      <!-- The equation -->
      <h3 id="plus">+</h3>
      <h3 id="equal">=</h3>
      <h3 id="plus-1">+</h3>
      <h3 id="equal-1">=</h3>
      <h3 id="algebra-1">\( mgh_0 = W + \frac{1}{2}m\color{red} V_f^2\) </h3>
      <h3 id="algebra-2">\( mgh_0 - W = \frac{1}{2}m\color{red} V_f^2\)</h3>
      <h3 id="algebra-3">\( 2*(mgh_0 -W) = m \color{red} V_f^2\)</h3>
      <h3 id="algebra-4">\( \frac{2*(mgh_0 - W)}{m} = \color{red} V_f^2\)</h3>
      <h3 id="algebra-5"><span style="background-color:yellow">\( \sqrt{\frac{2*(mgh_0 - W)}{m}} = \color{red} V_f\)</span></h3>
      <!-- <h3 id="algebra-5">\(\sqrt{\frac{2*(mgh_0 - W)}{m}} = \color{red} V_f\)</h3> -->

      <!-- The buttons -->
      <button id="buttonleft" class="btn buttons"> <strong>At the beginning</strong> </button>
      <button id="buttoncenter" class="btn buttons"><strong>During the process</strong> </button>
      <button id="buttonright" class="btn buttons"> <strong>At the end</strong> </button>

      <button id="buttonleft-1" class="btn buttons"> <strong>Potential energy</strong> </button>
      <button id="buttoncenter-1" class="btn buttons"><strong>Energy loss due to friction</strong> </button>
      <button id="buttonright-1" class="btn buttons"> <strong>Kinetic energy</strong> </button>

      <button id="buttonleft-2" class="btn buttons"> <strong>\(\mathbf{mgh_0}\)</strong> </button>
      <button id="buttoncenter-2" class="btn buttons"><strong>\(\mathbf{W}\)</strong> </button>
      <button id="buttonright-2" class="btn buttons"> <strong>\(\mathbf{\frac{1}{2}mV_f^2}\)</strong> </button>

      <button id="button-step-1" class="btn buttons"> <strong>Step 1</strong></button>
      <button id="button-step-2" class=" btn buttons"> <strong>Step 2</strong></button>
      <button id="button-step-3" class="btn buttons"><strong>Step 3</strong></button>
      <button id="button-step-4" class="btn buttons"><strong>Step 4</strong></button>
      <button id="note" class="btn buttons"><strong>Notes</strong></button>

      <button id="al-button-1" class="btn buttons"><strong>Next</strong></button>
      <button id="al-button-2" class="btn buttons"><strong>Next</strong></button>
      <button id="al-button-3" class="btn buttons"><strong>Next</strong></button>
      <button id="al-button-4" class="btn buttons"><strong>Next</strong></button>
      

      <!-- The audio buttons -->
      <img id="playbutton" src="{% static "IMG/energy/play.svg"%}"/>
      <img id="pausebutton" src="{% static "IMG/energy/pause.svg"%}"/>
      <img id="replaybutton" src="{% static "IMG/energy/replay.svg"%}"/>

    </div>
    <div class="ftr">
      <button class="btn primary reduced-vis" id="btn11">Back</button>
      <button id="btn1" class="btn primary reduced-vis">Next</button>

      <!-- The AI audio -->
      <audio class="primary-bg" id="problemstatement" controlList="nodownload">
        <source src="https://dl.dropbox.com/s/4xowk0qqk05bwth/Energy%20Mod_%20GenProb-2022-08-27.wav?dl=1"/>
      </audio>
      <audio class="primary-bg" id="genprob-step1" controlList="nodownload">
        <source src="https://dl.dropbox.com/s/bwdlubpqbd50gjt/Energy%20Mod_%20GenProb%20Step1-2022-08-28.wav?dl=1"/>
      </audio>
      <audio class="primary-bg" id="genprob-step2" controlList="nodownload">
        <source src="https://dl.dropbox.com/s/w0zd98568f7kwl4/GenProbStep2-2022-09-01.wav?dl=1"/>
      </audio>
      <audio class="primary-bg" id="genprob-step3" controllist="nodownload">
        <source src="https://dl.dropbox.com/s/xa5ef0w22bzydzf/Energy%20Mod_%20GenProb%20Step%203-2022-09-03.wav?dl=1">
      </audio>
      <audio class="primary-gb" id="genprob-step4" controllist="nodownload">
        <source src="https://dl.dropbox.com/s/6kpbiu4uu0dxfwu/Energy%20Mod_%20GrnProb%20Step%204-2022-09-03.wav?dl=1">
      </audio>
      <audio class="primary-bg" id="genprob-step4-2" controllist="nodownload">
        <source src="https://dl.dropbox.com/s/xx1exwa681do30k/Energy%20Mod_%20genprob%20step%204-2-2022-09-05.wav?dl=1">
      </audio>
    </div>
</div>



<div class="content-stage" id="cs2">

</div>



<!--calibration-->
<!-- <div id="calibration" class="info wrapper" style="display:none">
  <div class="hdr"></div>
  <div class="ctr" style="text-align: center;">
      <h4>
          Please tell the research assistant that it is time to calibrate the system. Thanks for your patience!
      </h4>
  </div>
  <div class="ftr">
      <button id="cal" class="btn primary reduced-vis">Next</button>
  </div>
</div> -->


<script src="{% static "JS/energy.js"%}"></script>
{% endblock %}