#energy-header{
    margin: 0;
}

#problem-text{
    font-size: 1.3vw; /*vw= width of the screen, 2vw = 2% of the screen's width*/
    justify-content: space-evenly;
    position: absolute;
    top: 2vh; /*vh= height of the screen*/
    left: 3vw;
    right: 3vw;
    margin: 0;
}

#problem-img{
    width: 55vh;
    position: absolute;
    top: 19vh;
    left: 5vw;
}


/* The explanation */
#top{
    font-size: 1.7vw;
    color: rgb(241, 67, 105); 
    position: absolute;
    top: 18vh;
    left: 22vw;
} 

#process{
    font-size: 1.7vw;
    color: rgb(46, 61, 194);
    position: absolute;
    top: 25vh;
    left: 29vw;
} 

#bottom{
    font-size: 1.7vw;
    color: rgb(3, 150, 81);
    position: absolute;
    top: 43vh;
    left: 48vw;
}


/* The steps */
#step-1{
    font-size: 1.3vw;
    justify-content: center;
    position: absolute;
    top: 50vh;
    opacity: 0;
}

#step-2{
    font-size: 1.3vw;
    justify-content: center;
    position: absolute;
    top: 50vh;
    opacity: 0;
}


/* The buttons */
/* top | right | bottom | left */
.buttons{
    margin: 0 5vw 0 5vw;
    padding: 0.5vh 2vw 0.5vh 2vw;
    border-radius: 0.2vw;
}

#button-box{
    display:flexbox;
    position: absolute;
    /* top: 57vh; */
}

#buttonleft,#buttoncenter,#buttonright{
    position: absolute;
    top: 57vh;
    opacity: 0;
}

#buttonleft{
    border: none;
    background-color: rgb(241, 145, 166);
    left: 5%
}

#buttoncenter{
    border: none;
    background-color: rgb(118, 126, 201);
    left: 40%
}

#buttonright{
    border: none;
    background-color:rgb(103, 199, 154);
    right: 5%
}

#buttonleft-1{
    border: none;
    background-color: rgb(241, 145, 166);
    left: 5%
}

#buttoncenter-1{
    border: none;
    background-color: rgb(118, 126, 201);
    left: 40%
}

#buttonright-1{
    border: none;
    background-color:rgb(103, 199, 154);
    right: 5%
}

#buttonleft-1,#buttoncenter-1,#buttonright-1{
    position: absolute;
    top: 57vh;
    opacity: 0;
}


/* The audio buttons */
#playbutton{
    width: 1.7vw;
    position: absolute;
    top: 33vh;
    left: 20vh;
    z-index: 1;
}

#pausebutton{
    width: 1.7vw;
    position: absolute;
    top: 33vh;
    left: 25vh;
    z-index: 1;
}

#replaybutton{
    width: 1.7vw;
    position: absolute;
    top: 33vh;
    left: 30vh;
    z-index: 1;
}

#playbutton:hover, #pausebutton:hover, #replaybutton:hover{
    cursor: pointer;
}