/*********************          General style         ****************************/
ul{
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }
  

/**************************            CS0           **************************/

#cs0_header{
    margin:0;
}

#kinetic_energy, #potential_energy, #work_friction{
    opacity:1;
}

#kinetic_energy{
    width: 25vh;
    position: absolute;
    top: 25.5vh;  
    left: 13vw;
    z-index:1;
}

#kinetic_energy:hover, #potential_energy:hover, #work_friction:hover, #con_energy:hover{
    cursor: pointer;
}

#def_K{
    font-size: 1.3vw;
    position: absolute;
    top: 22.5vh;
    left: 8vw;
    right: 65vw;
}

#form_K{
    width: 35vh;
    position: absolute;
    top: 33vh;
    left: 12vw;
}

#def_K, #form_K, #def_U, #form_U, #def_W, #form_W{
    opacity:0;
}

#potential_energy{
    width: 42vh;
    position: absolute;
    top: 27vh;
    left: 40vw;
    z-index:1;
}

#def_U{
    font-size: 1.3vw;
    position: absolute;
    top: 22.5vh;
    left: 37vw;
    right: 35vw;
}

#form_U{
    width: 37vh;
    position: absolute;
    top: 34vh;
    left: 41vw;
}

#work_friction{
    width: 32vh;
    position: absolute;
    top: 28.5vh;
    left: 72vw;
    z-index:1;
}

#def_W{
    font-size: 1.3vw;
    position: absolute;
    top: 22.5vh;
    left: 66vw;
    right: 7vw;
    z-index:1;
}

#form_W{
    width: 37vh;
    position: absolute;
    top: 34vh;
    left: 70vw;
}

#con_energy{
    width: 40vh;
    position: absolute;
    top: 68vh;
    left: 40vw;
    z-index:1;
    display:none
}

#con_img_0:hover, #con_img_1:hover, #con_img_2:hover{
    cursor:pointer;
}

#con_img_0{
    width:45vh;
    position: absolute;
    top: 60vh;
    left:10vw;
    display:none
}

#con_img_1{
    width: 45vh;
    position: absolute;
    top: 60vh;
    left:38.5vw;
    display:none
}

#con_img_2{
    width: 45vh;
    position: absolute;
    top: 60vh;
    left: 67vw;
    display:none
}

#endcs0{
    font-size:0.8vw;
    position: absolute;
    top: 87vh;
    right: 37vw;
    background-color: #262161;
    color: white;
    display:none;
}





/**************************            CS1           **************************/
#energy-header{
    margin: 0;
}

#problem-text{
    font-size: 1.3vw; /*vw= width of the screen, 2vw = 2% of the screen's width*/
    justify-content: space-evenly;
    position: absolute;
    top: 2vh; /*vh= height of the screen*/
    left: 3vw;
    right: 3vw;
    margin: 0;
}

#genprob_hill{
    width: 55vh;
    position: absolute;
    top: 19vh;
    left: 5vw;
}

#genprob_sled{
    width:10vh;
    position: absolute;
    top:17.5vh;
    left: 9.4vw;
    z-index:1;
}

/* The explanation */
#top{
    font-size: 1.7vw;
    color:#fbaf41; 
    position: absolute;
    top: 18vh;
    left: 22vw;
} 

#process{
    font-size: 1.7vw;
    color: #ff7f0a;
    position: absolute;
    top: 25vh;
    left: 29vw;
} 

#bottom{
    font-size: 1.7vw;
    color: #f00;
    position: absolute;
    top: 43vh;
    left: 48vw;
}

#notes{
    font-size: 1.3vw;
    position: absolute;
    top: 47.5vh;
    left:10vw;
    color:red;
}

#top, #process, #bottom, #notes, #step-1, #step-2, #step-3, #step-4{
    opacity: 0
}

/* The steps */
#step-1{
    font-size: 1.3vw;
    justify-content: center;
    position: absolute;
    top: 50vh;
}

#step-2{
    font-size: 1.3vw;
    justify-content: center;
    position: absolute;
    top: 50vh;
}

#step-3{
    font-size: 1.3vw;
    justify-content: center;
    position: absolute;
    top: 50vh;
}

#step-4{
    font-size:1.3vw;
    position: absolute;
    top: 15vh;
    left: 30vw;
}

/* The equation */
#plus{
    font-size: 3vw;
    position: absolute;
    top: 55vh;
    left: 54.5vw;
}

#equal{
    font-size: 3vw;
    position: absolute;
    top: 54.5vh;
    left: 29vw;
}

#plus-1{
    font-size: 3vw;
    position: absolute;
    top: 55vh;
    left: 50vw;
}

#equal-1{
    font-size: 3vw;
    position: absolute;
    top: 54.5vh;
    left: 33vw;
}

#algebra-1{
    font-size: 1.3vw;
    position: absolute;
    top: 16vh;
    left: 55vw;
}

#algebra-2{
    font-size:1.3vw;
    position: absolute;
    top: 21vh;
    left: 51.6vw;
}

#algebra-3{
    font-size:1.3vw;
    position: absolute;
    top: 26vh;
    left: 48.4vw;
}

#algebra-4{
    font-size:1.3vw;
    position: absolute;
    top: 31vh;
    left: 51.6vw;
}

#algebra-5{
    font-size:1.3vw;
    position: absolute;
    top: 36vh;
    left: 50.1vw;
}

#algebra-1, #algebra-2, #algebra-3, #algebra-4, #algebra-5, #plus, #equal, #plus-1, #equal-1{
    opacity:0;
}

/* The buttons */
/* top | right | bottom | left */
.buttons{
    margin: 0 5vw 0 5vw;
    padding: 0.5vh 2vw 0.5vh 2vw;
    border-radius: 0.2vw;
}

#button-box{
    display:flexbox;
    position: absolute;
    /* top: 57vh; */
}

#buttonleft,#buttoncenter,#buttonright{
    font-size:1vw;
    position: absolute;
    top: 57vh;
    display:none;
}

#buttonleft{
    border: none;
    background-color: #fbaf41;
    left: 10%;
    z-index: 1;
}

#buttoncenter{
    border: none;
    background-color: #ff7f0a;
    left: 37%;
    z-index: 1;
}

#buttonright{
    border: none;
    background-color: #f00;
    left: 65%;
    z-index: 1;
}

#buttonleft-1{
    border: none;
    background-color: #fbaf41;
    left: 10%
}

#buttoncenter-1{
    border: none;
    background-color: #ff7f0a;
    left: 35%;
}

#buttonright-1{
    border: none;
    background-color: #f00;;
    left:64%;
}

#buttonleft-1,#buttoncenter-1,#buttonright-1{
    font-size: 1vw;
    position: absolute;
    top: 57vh;
    opacity: 0;
}

#buttonleft-2{
    border: none;
    background-color: #fbaf41;
    left:18%
}

#buttoncenter-2{
    border: none;
    background-color: #ff7f0a;
    left: 41%;
}

#buttonright-2{
    border: none;
    background-color: #f00;
    left: 60%;
}

#buttonleft-2, #buttoncenter-2, #buttonright-2{
    font-size: 1vw;
    position: absolute;
    top: 57vh;
    opacity:0;
}

#button-step-1{
    font-size:1vw;
    border: none;
    background-color: #262161;
    position: absolute;
    top: 20vh;
    left: 78vw;
    color: white;
    margin: 0 0 0;
    padding: 0.2vh 1vw 0.2vh 1vw;
    border-radius: 0.2vw;
}

#button-step-2{
    font-size: 1vw;
    border: none;
    background-color: #262161;
    position: absolute;
    top: 27vh;
    left: 78vw;
    color: white;
    padding: 0.2vh 1vw 0.2vh 1vw;
    margin: 0 0 0;
    border-radius: 0.2vw;
}

#button-step-3{
    font-size: 1vw;
    border: none;
    background-color: #262161;
    position: absolute;
    top: 34vh;
    left: 78vw;
    color: white;
    padding: 0.2vh 1vw 0.2vh 1vw;
    margin: 0 0 0;
    border-radius: 0.2vw;
}

#button-step-4{
    font-size: 1vw;
    border: none;
    background-color: #262161;
    position: absolute;
    top: 41vh;
    left: 78vw;
    color: white;
    padding: 0.2vh 1vw 0.2vh 1vw;
    margin: 0 0 0;
    border-radius: 0.2vw;
}

#note{
    font-size: 1vw;
    border: none;
    background-color: #262161;
    position: absolute;
    top: 48vh;
    left: 78vw;
    color: white;
    padding: 0.2vh 1vw 0.2vh 1vw;
    margin: 0 0 0;
    border-radius: 0.2vw;
}

#al-button-1{
    font-size: 1vw;
    border: none;
    background-color: #262161;
    position: absolute;
    top: 21vh;
    left: 57.5vw;
    color: white;
    padding: 0.2vh 1vw 0.2vh 1vw;
    margin: 0 0 0;
    border-radius: 0.2vw;
}

#al-button-2{
    font-size: 1vw;
    border: none;
    background-color: #262161;
    position: absolute;
    top: 26vh;
    left: 57.5vw;
    color: white;
    padding: 0.2vh 1vw 0.2vh 1vw;
    margin: 0 0 0;
    border-radius: 0.2vw;
}

#al-button-3{
    font-size: 1vw;
    border: none;
    background-color: #262161;
    position: absolute;
    top: 31vh;
    left: 57.5vw;
    color: white;
    padding: 0.2vh 1vw 0.2vh 1vw;
    margin: 0 0 0;
    border-radius: 0.2vw;
}

#al-button-4{
    font-size: 1vw;
    border: none;
    background-color: #262161;
    position: absolute;
    top: 36vh;
    left: 57.5vw;
    color: white;
    padding: 0.2vh 1vw 0.2vh 1vw;
    margin: 0 0 0;
    border-radius: 0.2vw;
}

#button-step-1, #button-step-2, #button-step-3, #button-step-4, #note, #al-button-1, #al-button-2, #al-button-3, #al-button-4{
    display:none;
}

/* The audio buttons */
#playbutton{
    width: 1.7vw;
    position: absolute;
    top: 33vh;
    left: 20vh;
    z-index: 1;
}

#pausebutton{
    width: 1.7vw;
    position: absolute;
    top: 33vh;
    left: 25vh;
    z-index: 1;
}

#replaybutton{
    width: 1.7vw;
    position: absolute;
    top: 33vh;
    left: 30vh;
    z-index: 1;
}

#playbutton:hover, #pausebutton:hover, #replaybutton:hover{
    cursor: pointer;
}

#btn11, #btn1{
    font-size: 0.8vw;
    position: absolute;
    top:67vh;
    background-color: #262161;
    color: white;
    display:none;
}

#btn11{
    position: absolute;
    left: 29vw;
}

#btn1{
    position: absolute;
    right:29vw;
}

#expl1, #expl2, #expl3, #expl4{
    font-size:0.9vw;
    /* position: absolute;
    left: 20vw; */
}





/**************************            CS2           **************************/
#problem1{
    color: black;
}

#problem2{
    color: black;
}

#prob1{
    font-size: 1.3vw;
    color: #1e0dcf;
    position: absolute;
    top: 2vh;
    left: 1.5vw;
    right: 43vw;
}

#prob2{
    font-size: 1.3vw;
    color: #b90808;
    position: absolute;
    top: 2vh;
    left: 45vw;
    right: 1.5vw;
}

#mul-choice-1{
    font-size: 1.3vw;
    color: #1e0dcf;
    position: absolute;
    top: 40vh;
    left: 5vw;
}

#mul-choice-2{
    font-size:1.3vw;
    color: #b90808;
    position: absolute;
    top: 40vh;
    left: 48vw;
}

#subbtn1{
    background-color: #262161;
    color: white;
    position: absolute;
    top: 48vh;
    left: 30vw;
}

#subbtn2{
    background-color: #262161;
    color: white;
    position: absolute;
    top: 48vh;
    left: 75vw;
}

#prob2-box{
    display: none;
}

#prob_1_bullet{
    width: 25vh;
    position: absolute;
    top: 20vh;
    left: 3vw;
}

#prob_1_runner{
    width: 30vh;
    position: absolute;
    top: 17vh;
    left: 20vw;
}

#prob2-car{
    width: 35vh;
    position: absolute;
    top: 20vh;
    left: 45vw;
}

#prob2-roller-coaster{
    width: 35vh;
    position: absolute;
    top: 17vh;
    right: 3vw;
}













/**************************            CS3           **************************/
#prob3{
    font-size: 1.3vw;
    position: absolute;
    top: 2vh;
    left: 1.5vw;
    right: 1.5vw;
}

#prob3a{
    font-size:1.3vw;
    color: #1e0dcf;
    position: absolute;
    top: 11vh;
    left: 1.5vw;
    right: 43vw;
}

#prob3b{
    font-size: 1.3vw;
    color: #b90808;
    position: absolute;
    top: 11vh;
    left: 45vw;
    right: 1.5vw;
}

#hint3abtn{
    margin:0;
    padding:0.5vh 1vw 0.5vh 1vw;
    font-size:0.8vw;
    background-color: #262161;
    color:white;
    position: absolute;
    top: 21.7vh;
    left: 2vw;
}

#hint3a{
    font-size:1vw;
    color: #1e0dcf;
    position: absolute;
    top: 21vh;
    left: 6vw;
    right: 44vw;
    opacity:0;
}

#mul-choice-3-a{
    font-size: 1.3vw;
    color: #1e0dcf;
    position: absolute;
    top: 30vh;
    left: 3vw;
}

#hint3bbtn{
    margin:0;
    padding:0.5vh 1vw 0.5vh 1vw;
    font-size:0.8vw;
    background-color: #b90808;
    color:white;
    position: absolute;
    top: 21.7vh;
    left: 45.5vw;
    display: none;
}

#hint3b{
    font-size: 1vw;
    color: #b90808;
    position: absolute;
    top: 21vh;
    left: 50vw;
    right: 1.5vw;
    opacity:0;
}

#mul-choice-3-b{
    font-size: 1.3vw;
    color: #b90808;
    position: absolute;
    top: 30vh;
    left: 50vw;
}

#subbtn3a{
    background-color: #262161;
    color: white;
    position: absolute;
    top: 55vh;
    left: 15vw;
}

#subbtn3b{
    background-color: #262161;
    color: white;
    position: absolute;
    top: 55vh;
    left: 65vw;
}

#prob3b-box{
    display: none;
}

#prob3-ben{
    width:37vh;
    position: absolute;
    top: 19vh;
    left: 27.5vw;
}







/**************************            CS4           **************************/
#prob4{
    font-size: 1.3vw;
    position: absolute;
    top: 2vh;
    left: 1.5vw;
    right: 1.5vw;
}

#hint4btn{
    margin:0;
    padding:0.5vh 1vw 0.5vh 1vw;
    font-size:0.8vw;
    background-color: #c4c4c4;
    color: black;
    position: absolute;
    top: 16vh;
    left: 2vw;
}

#hint4{
    font-size: 1vw;
    position: absolute;
    top: 14vh;
    left: 6vw;
    /* right: 40vw; */
    opacity:0;
}

#mul-choice-4{
    font-size: 1.3vw;
    color: #000000;
    position: absolute;
    top: 26vh;
    left: 5vw;
}

#subbtn4{
    background-color: #262161;
    color: white;
    position: absolute;
    top: 55vh;
    left: 10vw;
}

#prob4-charles{
    width:70vh;
    position: absolute;
    top: 15vh;
    left: 45vw;
}







/*************************             CS5            ****************************/

#congrat{
    position: absolute;
    top: 15vh;
    left: 15vw;
    color:#271d95;
}

#post-test{
        position: absolute;
    top: 22vh;
    left: 25vw;
    color: #271d95;
}

#btn2posttest{
    font-size: 2vw;
    padding: 0.5vh 3.5vw 0.5vh 3.5vw;
    background-color: #262161;
    color: white;
    position: absolute;
    top: 40vh;
    left: 32vw;
}