#energy-header{
    margin: 0;
}

#problem-text{
    font-size: 1.3vw; /*vw= width of the screen, 2vw = 2% of the screen's width*/
    justify-content: space-evenly;
    position: absolute;
    top: 2vh; /*vh= height of the screen*/
    left: 3vw;
    right: 3vw;
    margin: 0;
}

#problem-img{
    width: 55vh;
    position: absolute;
    top: 19vh;
    left: 5vw;
}


/* The explanation */
#top{
    font-size: 1.7vw;
    color:#fbaf41; 
    position: absolute;
    top: 18vh;
    left: 22vw;
} 

#process{
    font-size: 1.7vw;
    color: #ff7f0a;
    position: absolute;
    top: 25vh;
    left: 29vw;
} 

#bottom{
    font-size: 1.7vw;
    color: #f00;
    position: absolute;
    top: 43vh;
    left: 48vw;
}

#top, #process, #bottom{
    opacity: 0
}


/* The steps */
#step-1{
    font-size: 1.3vw;
    justify-content: center;
    position: absolute;
    top: 50vh;
    opacity: 0;
}

#step-2{
    font-size: 1.3vw;
    justify-content: center;
    position: absolute;
    top: 50vh;
    opacity: 0;
}


/* The equation */
#plus{
    font-size: 3vw;
    position: absolute;
    top: 55vh;
    left: 54.5vw;
    opacity: 0;
}

#equal{
    font-size: 3vw;
    position: absolute;
    top: 54.5vh;
    left: 29vw;
    opacity: 0;
}

#plus-1{
    font-size: 3vw;
    position: absolute;
    top: 55vh;
    left: 50vw;
    opacity: 0;
}

#equal-1{
    font-size: 3vw;
    position: absolute;
    top: 54.5vh;
    left: 33vw;
    opacity: 0;
}


/* The buttons */
/* top | right | bottom | left */
.buttons{
    margin: 0 5vw 0 5vw;
    padding: 0.5vh 2vw 0.5vh 2vw;
    border-radius: 0.2vw;
}

#button-box{
    display:flexbox;
    position: absolute;
    /* top: 57vh; */
}

#buttonleft,#buttoncenter,#buttonright{
    font-size:1vw;
    position: absolute;
    top: 57vh;
    opacity: 0;
}

#buttonleft{
    border: none;
    background-color: #fbaf41;
    left: 10%;
    z-index: 1;
}

#buttoncenter{
    border: none;
    background-color: #ff7f0a;
    left: 37%;
    z-index: 1;
}

#buttonright{
    border: none;
    background-color: #f00;
    left: 65%;
    z-index: 1;
}

#buttonleft-1{
    border: none;
    background-color: #fbaf41;
    left: 10%
}

#buttoncenter-1{
    border: none;
    background-color: #ff7f0a;
    left: 35%;
}

#buttonright-1{
    border: none;
    background-color: #f00;;
    left:64%;
}

#buttonleft-1,#buttoncenter-1,#buttonright-1{
    font-size: 1vw;
    position: absolute;
    top: 57vh;
    opacity: 0;
}

#buttonleft-2{
    border: none;
    background-color: #fbaf41;
    left:18%
}

#buttoncenter-2{
    border: none;
    background-color: #ff7f0a;
    left: 41%;
}

#buttonright-2{
    border: none;
    background-color: #f00;
    left: 60%;
}

#buttonleft-2, #buttoncenter-2, #buttonright-2{
    font-size: 1vw;
    position: absolute;
    top: 57vh;
    opacity:0;
}

#button-step-1{
    font-size:1vw;
    border: none;
    background-color: #262161;
    position: absolute;
    top: 20vh;
    left: 78vw;
    color: white;
    margin: 0 0 0;
    padding: 0.2vh 1vw 0.2vh 1vw;
    border-radius: 0.2vw;
    opacity:0;
}

#button-step-2{
    font-size: 1vw;
    border: none;
    background-color: #262161;
    position: absolute;
    top: 27vh;
    left: 78vw;
    color: white;
    padding: 0.2vh 1vw 0.2vh 1vw;
    margin: 0 0 0;
    border-radius: 0.2vw;
    opacity:0;
}

#button-step-3{
    font-size: 1vw;
    border: none;
    background-color: #262161;
    position: absolute;
    top: 34vh;
    left: 78vw;
    color: white;
    padding: 0.2vh 1vw 0.2vh 1vw;
    margin: 0 0 0;
    border-radius: 0.2vw;
    opacity:0;
}


/* The audio buttons */
#playbutton{
    width: 1.7vw;
    position: absolute;
    top: 33vh;
    left: 20vh;
    z-index: 1;
}

#pausebutton{
    width: 1.7vw;
    position: absolute;
    top: 33vh;
    left: 25vh;
    z-index: 1;
}

#replaybutton{
    width: 1.7vw;
    position: absolute;
    top: 33vh;
    left: 30vh;
    z-index: 1;
}

#playbutton:hover, #pausebutton:hover, #replaybutton:hover{
    cursor: pointer;
}